<doc-search />

<div class="bg-background text-foreground min-h-screen">
    <div class="sticky top-0 z-40">
        <doc-header />
    </div>

    @if (isHome) {
        <doc-home />
    } @else {
        <div class="grid grid-cols-1 [grid-template-areas:'content'] md:grid-cols-[260px_1fr] md:[grid-template-areas:'sidebar_content'] xl:grid-cols-[260px_1fr_224px] xl:[grid-template-areas:'sidebar_content_toc']">
            <aside class="hidden md:block [grid-area:sidebar]">
                <doc-sidebar />
            </aside>
            <main class="min-w-0 max-w-195 px-12 pt-10 pb-20 [grid-area:content]">
                <doc-breadcrumb />
                <doc-content />
                <doc-prev-next />
            </main>
            <nav class="hidden xl:block [grid-area:toc]">
                <doc-toc />
            </nav>
        </div>
    }
</div>

<doc-mobile-menu />
