<a class="flex items-center gap-2 font-title text-base font-bold text-foreground hover:text-accent tracking-tight whitespace-nowrap shrink-0" [href]="config?.base ?? '/'">
    @let logo = config?.logo; @let title = config?.title ?? "Ai Docs"; @if (logo) {
    <img [src]="logo" [alt]="title" class="h-5 w-auto dark:invert sm:h-7" />
    } @else {
    <span class="flex h-5 w-5 shrink-0 items-center justify-center rounded-md bg-primary text-primary-foreground sm:h-6.5 sm:w-6.5">
        <ai-icon icon="file-text" size="sm" />
    </span>
    <span class="font-title text-sm font-bold text-primary sm:text-base"> {{ title }} </span>
    }
</a>
